<div class="franchise-backdrop is-hidden" franchise-modal>
    <div class="franchise-modal">
        <button type="button" class="modal-btn-close button" franchise-modal-close>
            <svg class="modal-btn-close__icon">
                <use href="./image/icons.svg#close-modal"></use>
            </svg>
        </button>
        <p class="franchise-modal__title">
            Thank you for your interest in owning an Ice Cream shop
        </p>
        <p class="franchise-modal__text">Due to the overwhelming volume of franchise requests we are not accepting new
            franchisee
            applications at this time. Once
            the application process resumes, we will contact you for further information. Please fill out the contact
            information
            below and we will reach out for additional information. We appreciate your patience.</p>
        <form class="franchise-modal-form js-form" action="">
            <input class="franchise-modal-form__input js-input" type="text" name="name" placeholder="Name"
                pattern="[a-zA-Zа-яА-ЯіІїЇ`]+">
            <input class="franchise-modal-form__input js-input js-input-phone" type="tel" name="phone"
                placeholder="Phone">
            <input class="franchise-modal-form__input js-input js-input-email" type="email" name="mail"
                placeholder="Email">
            <textarea class="franchise-modal-form__textarea" name="comment" placeholder="Comment"></textarea>
            <a class="franchise-modal-form__link link" target="_blank" rel="noopener noreferrer"
                href="https://www.google.com.tr/maps/place/Кофе+хотдоги+мороженое/@46.4459958,30.6884769,13z/data=!4m9!1m2!2m1!1z0LzQsNCz0LDQt9C40L0g0LzQvtGA0L7Qt9C40LLQsCDQvtC00LXRgdCw!3m5!1s0x40c633eb30cb11a5:0xe7f5a09b5b205603!8m2!3d46.4459958!4d30.7545838!15sCirQvNCw0LPQsNC30LjQvSDQvNC-0YDQvtC30LjQstCwINC-0LTQtdGB0LBaLCIq0LzQsNCz0LDQt9C40L0g0LzQvtGA0L7Qt9C40LLQsCDQvtC00LXRgdCwkgEOaWNlX2NyZWFtX3Nob3DgAQA?hl=ru">
                <span class="franchise-modal-form__line franchise-modal-form__line-top"></span>
                <span class="franchise-modal-form__line franchise-modal-form__line-right"></span>
                <span class="franchise-modal-form__line franchise-modal-form__line-bottom"></span>
                <span class="franchise-modal-form__line franchise-modal-form__line-left"></span>
                <span class="franchise-modal-form__link-text">
                    Submit</span></a>
            <!-- <button type="submit" class="franchise-modal-form__btn">Submit</button> -->
        </form>
    </div>
</div>